<div class="flex flex-col">
  <!-- Header -->
  <div class="flex justify-between items-center mb-5">
    <h2 class="text-gray-400 italic select-none">Setups</h2>

    <button (click)="close()"
            class="transform-gpu active:scale-90 bg-transparent p-0">
      <svg class="h-8 w-8 cursor-pointer fill-current text-gray-400 hover:text-black" aria-hidden="true" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512">
        <path fill="currentColor"
              d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path>
      </svg>
    </button>
  </div>

  <!-- Content -->
  <div class="flex">
    <!-- Left Section -->
    <section class="flex w-1/3 flex-col space-y-1 mr-5">

      <!--  Current Setup Name -->
      <div class="flex flex-col pb-4">
        <label class="text-gray-400">Name:</label>
        <span class="italic">{{setupName$ | async}}</span>
      </div>

      <!-- Notes -->
      <div class="pb-4 mt-0 w-full">
        <label class="text-gray-400">Notes:</label>
        <textarea class="w-full bg-transparent"
                  [ngModel]="notes$ | async"
                  rows="5" disabled></textarea>
      </div>

      <!-- Buttons -->
      <div>
        <div class="flex flex-shrink-0 space-x-2">
          <button class="flex-1" rf-button (click)="loadSelected()">Load</button>
          <button class="flex-1" rf-button>Assign</button>
        </div>

        <div class="flex flex-shrink-0 space-x-2">
          <button class="flex-1 w-2/4" rf-button color="blue"
                  (click)="compare()">
            Compare
          </button>
          <button *ngIf="{setup: setupName$ | async} as context"
                  class="flex-1 w-2/4" rf-button color="danger"
                  (click)="deleteSelected(context.setup)">
            Delete
          </button>
        </div>

        <div class="flex flex-shrink-0 space-x-2">
          <button class="flex-1 w-2/4" rf-button>Copy</button>
          <button class="flex-1 w-2/4" rf-button>Defaults</button>
        </div>
      </div>
    </section>

    <!-- Right Section -->
    <section class="w-2/3 flex flex-col">
      <!-- Show Only Relevant -->
      <div *ngIf="{showOnlyRelevant: showingOnlyRelevant$ | async} as context"
           class="flex items-center pl-1.5"
           (click)="changeShowOnlyRelevant(!context.showOnlyRelevant)">
        <i class="fa relevant mr-2 w-4"
           [ngClass]="context.showOnlyRelevant ? 'fa-check': 'fa-times'"></i>
        <span class="cursor-pointer">Show Only Relevant</span>
      </div>
      <div>
        <rf-setup-tree [activeSetupName]="activeSetupName$ | async"
                       [compareToSetup]="compareToSetup$ | async"
                       [setups]="setups$ | async"
                       [setupsLoading]="setupsLoading$ | async"
                       (selected)="selectSetup($event)"></rf-setup-tree>
      </div>

    </section>

  </div>

</div>

