:host {
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 0;
}

.chat {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  min-height: 0;
  margin: 0;
  width: 100%;

  margin-top: 1rem;
  padding: 0 0.5rem 0;
  overflow: auto;
  list-style-type: none;

  li {
    flex: 0 0 auto;
    margin-bottom: 5px;
    display: flex;

    .body {
      overflow: hidden;
      overflow-wrap: break-word;
      flex: 8;

      .metadata {
        justify-content: space-between;
        font-size: 0.75rem;
        opacity: 0.8;
        display: flex;
        color: #b5b8ba;
      }

      p {
        white-space: pre-wrap;
        margin-top: 0;
        margin-block-end: 0;
        font-size: 0.9rem;
        font-weight: 300;
        line-height: 1.5;
      }
    }
  }
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  opacity: 0.8;

  input {
    flex: 1 1 auto;
    margin-right: 10px;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1;
    background: #555;
    border: none;
    resize: none;
    padding-left: 0.3rem;
    overflow: auto;
    color: inherit;
  }

  .fi:before {
    color: #ffffff;
  }
}
