<div class="flex flex-col">
  <div class="p-6 pt-3 content-start flex flex-col">
    <h2 class="text-gray-300 italic text-2xl font-bold self-start pb-5">Better-UI Settings</h2>

    <div class="flex items-center space-x-2">
      <span>Disable setup popup</span>
      <rf-spin-box
        [items]="[
          { displayName: 'Yes', value: true },
          { displayName: 'No', value: false }
        ]"
        [(selectedValue)]="disableSetup"
      ></rf-spin-box>
    </div>
  </div>

  <div class="flex bg-gray-300 py-6 space-x-2 justify-center">
    <button rf-button color="secondary" (click)="close()">Cancel</button>
    <button rf-button (click)="save()">Save</button>
  </div>
</div>
