<div class="flex items-center">
  <div class="-skew-x-22 border-solid border-2" [ngClass]="selectedIdx === 0 ? ['bg-gray-200'] : ['bg-white']">
    <button
      class="skew-x-22 bg-transparent disabled:bg-transparent disabled:border-none text-gray-500 py-0.5 px-4"
      [disabled]="selectedIdx === 0"
      (click)="decrease()"
    >
      -
    </button>
  </div>

  <div class="-skew-x-22 w-16 flex justify-center">
    <div class="skew-x-22">{{ selected?.displayName }}</div>
  </div>

  <div
    class="-skew-x-22 border-solid border-2"
    [ngClass]="selectedIdx === items.length - 1 ? ['bg-gray-200'] : ['bg-white']"
  >
    <button
      class="skew-x-22 bg-transparent disabled:bg-transparent disabled:border-none text-gray-500 py-0.5 px-4"
      [disabled]="selectedIdx === items.length - 1"
      (click)="increase()"
    >
      +
    </button>
  </div>
</div>
