$colorDark: #262626;
$colorRed: #ff2c00;
$colorDarkRed: #d60f00;
$colorBlue: #00c2f2;
$colorOrange: #f90;
$colorBlack: #333;
$colorWhite: #fff;
$colorBg: #e4e4e4;

$colorGrey: #ccc;

//OPACITY
$opacityDisabled: 0.35;

$skew: 22deg;
