@use '../../../../../scss/common-styles' as common;

.primary {
  background: #000000;
}

.danger {
  background: common.$colorRed;
}

.blue {
  background: common.$colorBlue;
}

.rfButton {
  @include common.skewElement();

  outline: 1px solid transparent;
  color: #ffff;

  border: 0;
  padding: 0.2rem 1.5rem 0.2rem;
  text-transform: none;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0.25rem 0.15rem 0.35rem rgba(0, 0, 0, 0.5);
    box-shadow: 0.25rem 0.15rem 0.35rem rgba(0, 0, 0, 0.5);
    opacity: 0;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: common.$colorWhite;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
  }

  &:hover {
    transition: background 0.4s, color 0.2s;
    background: common.$colorWhite;
    color: #000000;

    &.danger {
      color: common.$colorRed;
    }

    &.blue {
      color: common.$colorBlue;
    }

    &:before {
      opacity: 1;
      -webkit-transition: opacity 0.4s;
      transition: opacity 0.4s;
    }

    &:after {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
      outline: 1px solid transparent;
    }
  }

  &:active {
    -webkit-transition: -webkit-transform linear 0.1s;
    transition: -webkit-transform linear 0.1s;
    transition: transform linear 0.1s, -webkit-transform linear 0.1s;
    // prettier-ignore
    -webkit-transform: scale(0.9, 0.9) skewX(- common.$skew);
    // prettier-ignore
    transform: scale(0.9, 0.9) skewX(- common.$skew);
  }

  .rfButtonText {
    display: inline-block;
    transform: skewX(common.$skew) translate3d(0, 0, 0);
    -webkit-transform: skewX(common.$skew) translate3d(0, 0, 0);
    font-size: 1rem;
    font-weight: 700;
    font-style: italic;
    text-transform: lowercase;
  }
}
