/* You can add global styles to this file, and also import other style files */
@use "./scss/vars";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body {
  height: 100%;
}

.thumbnailwrapper {
  .thumbnails {
    .thumbnail {
      width: 8rem !important;
    }
  }
}

// disable animation
body {
  opacity: 1 !important;
}

nav {
  ol.right {
    li {
      &.fa {
        cursor: pointer;
        padding: 0 1rem 0 1rem;
      }
    }
  }
}

.topbar.dark>ol.right {
  .fa {
    color: vars.$colorGrey;
  }
}

.fa-power-off:before {
  content: "\f011";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1;
}

.fa-chevron-right:before {
  content: "\f054";
}

.fa-chevron-down:before {
  content: "\f078";
}

.fa-search:before {
  content: "\f002";
}

.raceButton {
  margin: 0;
  background: vars.$colorRed;
  min-width: 3.5rem;
  max-width: 3.5rem;

  &:hover {
    transition: background-color .5s;
    background: vars.$colorDarkRed;
  }
}

.rfPanel .mat-dialog-container {
  border-radius: 0 !important;
}

.noDialogPadding .mat-dialog-container {
  padding: 0 !important;
}
