/* You can add global styles to this file, and also import other style files */
@use "./scss/vars";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.thumbnailwrapper {
  .thumbnails {
    .thumbnail {
      width: 8rem !important;
    }
  }
}

// disable animation
body {
  opacity: 1 !important;
}

nav {
  ol.right {
    li {
      &.fa {
        cursor: pointer;
      }
    }
  }
}

.topbar.dark>ol.right {
  .fa {
    color: vars.$colorGrey;
  }
}
